.question-container {
    font-family: 'Arial', sans-serif;
    text-align: center;
    margin-bottom: 20px;
}

.question-text {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.options {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.option {
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
    width: 160px;
    transition: all 0.3s ease;
}

.circle {
    width: 50px;
    height: 50px;
    border: 2px solid #d1d1d1;
    border-radius: 50%;
    transition: all 0.3s ease;
    background-color: transparent;
}

    .circle.green {
        border-color: #81C784;
    }

    .circle.grey {
        border-color: #CFD8DC; /* М'якший сірий */
    }

    .circle.purple {
        border-color: #BA68C8; /* М'якший фіолетовий */
    }

.option input {
    display: none;
}

.option-text {
    margin-top: 8px;
    font-size: 14px;
    color: #555;
}

.option.selected .circle {
    background-color: transparent;
}

    .option.selected .circle.green {
        background-color: #81C784; /* Легкий зелений */
        border-color: #81C784;
    }

    .option.selected .circle.grey {
        background-color: #CFD8DC; /* Легкий сірий */
        border-color: #CFD8DC;
    }

    .option.selected .circle.purple {
        background-color: #BA68C8; /* Легкий фіолетовий */
        border-color: #BA68C8;
    }

.option:hover .circle {
    border-color: #000000;
}
