@using Frontend.Presentation.Components
@inherits LayoutComponentBase

<div class="page">
    <RadzenComponents @rendermode="new InteractiveWebAssemblyRenderMode()" />
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <Header></Header>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

