@page "/resetRequest"
@using System.ComponentModel.DataAnnotations
@inject HttpClient Http
@inject NavigationManager Navigation
@layout AuthLayout

<link rel="stylesheet" href="css/auth.css">

<EditForm Model="_request" OnValidSubmit="ResetPassword">
    <DataAnnotationsValidator />

    <div class="auth-container">
        <div class="auth-card">
            <h2>Reset password</h2>

            <label>Email</label>
            <InputText @bind-Value="_request.Email" class="input" placeholder="Enter your email" />
            <ValidationMessage For="@(() => _request.Email)" />

            <button type="submit">Confirm</button>

            <p>Remember your password? <a href="/login">Login now!</a></p>

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <p class="error-message">@errorMessage</p>
            }
        </div>
    </div>
</EditForm>

@code {
    private ResendConfirmationRequest _request = new();
    private string errorMessage = "";

    private async Task ResetPassword()
    {
        var response = await Http.GetFromJsonAsync<string>($"https://localhost:7100/reset-password?email={_request.Email}");

        if (!string.IsNullOrEmpty(response))
        {
            Navigation.NavigateTo(response, forceLoad: true);
        }
        else
        {
            errorMessage = "Request failed. Please try again.";
        }
    }

    public class ResendConfirmationRequest
    {
        [Required(ErrorMessage = "Email is required.")]
        [EmailAddress(ErrorMessage = "Invalid email format.")]
        public string Email { get; set; }
    }
}
